certifi==2017.11.5
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
cymem==1.31.2
cytoolz==0.8.2
#de-core-news-sm==2.0.0
dill==0.2.7.1
Django==2.0.1
django-crispy-forms==1.7.0
djangorestframework==3.7.7
ftfy==4.4.3
html5lib==1.0.1
idna==2.6
itypes==1.1.0
Jinja2==2.10
lxml==4.1.1
MarkupSafe==1.0
msgpack-numpy==0.4.1
msgpack-python==0.5.1
murmurhash==0.28.0
numpy==1.14.0
pathlib==1.0.1
plac==0.9.6
preshed==1.0.0
pyreadline==2.1
pytz==2017.3
regex==2017.4.5
requests==2.18.4
six==1.11.0
spacy==2.0.5
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
tqdm==4.19.5
ujson==1.35
uritemplate==3.0.0
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
wincertstore==0.2
wrapt==1.10.11
