{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load webpage_extras %}
{% block title %} About {% endblock %}
{% block scriptHeader %}
{{block.super}}
{% endblock scriptHeader %}
{% block content %}
<div class="container">
<form id="fileUploadForm" enctype="multipart/form-data">
    {% crispy form %}

    <button type="submit" name="uploadp_btn" class="btn btn-primary" id="btnSubmit">Upload!</button>
</form>
<hr/>
<div id="results">
  <table id="res_table">
    <tr><th>downloads</th></tr>
  </table>
</div>
</div>
<script type="text/javascript">
$(document).ready(function () {

    $("#btnSubmit").click(function (event) {

        //stop submit the form, we will post it manually.
        event.preventDefault();

        // Get form
        var form = $('#fileUploadForm')[0];

		// Create an FormData object
        var data = new FormData(form);

		// If you want to add an extra field for the FormData
        //data.append("CustomField", "This is some extra data, testing");

		// disabled the submit button
        $("#btnSubmit").prop("disabled", true);

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/query/nlppipeline-api/",
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 0,
            success: function (data) {

                $("#res_table").append('<td><a href="/query/download/'+data.proc_id+'"</a>'+data.proc_id+'</td>');
                console.log("SUCCESS : ", data);
                $("#btnSubmit").prop("disabled", false);

            },
            error: function (e) {

                $("#result").text(e.responseText);
                console.log("ERROR : ", e);
                $("#btnSubmit").prop("disabled", false);

            }
        });

    });

});
</script>
{% endblock %}
