{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load webpage_extras %}
{% block title %} About {% endblock %}
{% block scriptHeader %}
{{block.super}}
{% endblock scriptHeader %}
{% block content %}
<div class="container">
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
	<a class="nav-item nav-link active" id="nav-basi-tab" data-toggle="tab" href="#nav-basic" role="tab" aria-controls="nav-basic" aria-selected="true">Profile Form</a>
    	<a class="nav-item nav-link" id="nav-expert-tab" data-toggle="tab" href="#nav-expert" role="tab" aria-controls="nav-expert" aria-selected="true">Expert</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade" id="nav-expert" role="tabpanel" aria-labelledby="nav-expert-tab">.
  <form id="fileUploadForm1" enctype="multipart/form-data">
    {% crispy form %}

    <button type="submit" name="uploadp_btn" class="btn btn-primary" id="btnSubmit1">Upload!</button>
</form>
  </div>
  <div class="tab-pane fade show active" id="nav-basic" role="tabpanel" aria-labelledby="nav-basic-tab">
<form id="fileUploadForm" enctype="multipart/form-data">
    {% crispy base_form %}

    <button type="submit" name="uploadp_btn" class="btn btn-primary" id="btnSubmit">Upload!</button>
</form>
  </div>
</div>
<hr/>
<div id="results">
  <table id="res_table">
    <tr><th>downloads</th></tr>
  </table>
</div>
</div>
<script type="text/javascript">
$(document).ready(function () {

    $("#btnSubmit").click(function (event) {

        //stop submit the form, we will post it manually.
        event.preventDefault();

        // Get form
        var form = $('#fileUploadForm')[0];

		// Create an FormData object
        var data = new FormData(form);
	var u = data.get('profile');
	var url = "/query/nlppipeline-api/";
	    if (u != '---'){
	    url += u + "/"
	    } else if (data.get('nlp_pipeline') == '') {
		    $("#results").append('<div class="alert alert-danger" role="alert">You need to specify either the pipeline or a Profile</div>');
		    return;
	    }
		// If you want to add an extra field for the FormData
        //data.append("CustomField", "This is some extra data, testing");

		// disabled the submit button
        $("#btnSubmit").prop("disabled", true);

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: url,
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 0,
            success: function (data) {
		$("#results > div").remove();
                $("#res_table").append('<td><a href="/query/download/'+data.proc_id+'"</a>'+data.proc_id+'</td>');
                console.log("SUCCESS : ", data);
                $("#btnSubmit").prop("disabled", false);

            },
            error: function (e) {

                $("#results").text(e.responseText);
                console.log("ERROR : ", e);
                $("#btnSubmit").prop("disabled", false);

            },
	    beforeSend: function(request) {
		    var csrftoken = getCookie('csrftoken');
		    request.setRequestHeader("X-CSRFToken", csrftoken);
	    }
        });

    });

});
</script>
{% endblock %}
